[General]
Geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\x2\xb2\0\0\x2\x30\0\0\x5o\0\0\x4\x92\0\0\x2\xb2\0\0\x2L\0\0\x5o\0\0\x4\x92\0\0\0\0\0\0\0\0\n\0\0\0\x2\xb2\0\0\x2L\0\0\x5o\0\0\x4\x92)
ShowAlsaMIDI=false
ShowStatusbar=true
ShowToolbar=true
TransportView=0
