{
    "add_emo_packs": false,
    "at_slot": null,
    "at_uri": null,
    "check_for_updates": true,
    "debug": null,
    "do_not_track": null,
    "enable_screensaver": true,
    "export_dir": "",
    "export_file": "",
    "export_uid": "",
    "format_version": 1,
    "fps_limit": 120,
    "hide_cleared_locations": null,
    "hide_unreachable_locations": null,
    "ignore_hidpi": false,
    "log": false,
    "override_rule_exec_limit": null,
    "pack": null,
    "software_fps_limit": 60,
    "software_renderer": false,
    "split_map_locations": null,
    "update_to_prerelease": false,
    "usb2snes": "",
    "window": {
        "display": 0,
        "display_name": "LG ULTRAGEAR 31\"",
        "display_pos": [
            980,
            548
        ],
        "pos": [
            980,
            520
        ],
        "size": [
            600,
            400
        ]
    }
}
