[General]
DiskFolders=@Variant(\0\0\0\t\0\0\0\x1\0\0\0\n\0\0\0\x16\0/\0h\0o\0m\0\x65\0/\0k\0o\0i\0j\0\x61)
Geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\0\0\0\0\0\0\0\0\t\xff\0\0\x5w\0\0\x4\xa3\0\0\x1\xe4\0\0\b\xb7\0\0\x4\xc8\0\0\0\0\x2\0\0\0\n\0\0\0\0\0\0\0\0\x1c\0\0\t\xff\0\0\x5w)
HorizontalScrollBarValue=903
LastBPM=0
ShowKeyboard=true
ShowMeters=true
ShowSidePanel=true
ShowToolbar=true
VerticalScrollBarValue=1040

[Canvas]
Antialiasing=1
AutoHideGroups=true
AutoSelectItems=false
EyeCandy2=true
FancyEyeCandy=false
FullRepaints=false
HQAntialiasing=false
InlineDisplays=false
Size=3100x2400
Theme=Modern Dark
UseBezierLines=true
UseOpenGL=false

[Engine]
AudioDriver=JACK
ForceStereo=false
ManageUIs=true
MaxParameters=200
PreferPluginBridges=false
PreferUiBridges=true
ProcessMode=1
ResetXruns=false
TransportExtra=
TransportMode=2
UIsAlwaysOnTop=false
UiBridgesTimeout=4000

[Experimental]
ExportLV2=false
JackApplications=false
LoadLibGlobal=false
PluginBridges=false
PreventBadBehaviour=false
WineBridges=false

[Main]
ClassicSkin=false
ConfirmExit=true
Experimental=false
ProThemeColor=Black
ProjectFolder=@@DOTFILES:HOME@@
RefreshInterval=20
ShowLogs=true
SystemIcons=false
UseProTheme=true

[OSC]
Enabled=true
TCPEnabled=true
TCPNumber=22752
TCPRandom=false
UDPEnabled=true
UDPNumber=22752
UDPRandom=false

[Paths]
Audio=@Invalid()
DSSI=@@DOTFILES:HOME@@/.dssi, /usr/lib/dssi, /usr/local/lib/dssi
JSFX=@Variant(\0\0\0\t\0\0\0\x1\0\0\0\n\0\0\0\x44\0/\0h\0o\0m\0\x65\0/\0k\0o\0i\0j\0\x61\0/\0.\0\x63\0o\0n\0\x66\0i\0g\0/\0R\0\x45\0\x41\0P\0\x45\0R\0/\0\x45\0\x66\0\x66\0\x65\0\x63\0t\0s)
LADSPA=@@DOTFILES:HOME@@/.ladspa, /usr/lib/ladspa, /usr/local/lib/ladspa
LV2=@@DOTFILES:HOME@@/.lv2, /usr/lib/lv2, /usr/local/lib/lv2
MIDI=@Invalid()
SF2=@@DOTFILES:HOME@@/.sounds/sf2, @@DOTFILES:HOME@@/.sounds/sf3, /usr/share/soundfonts, /usr/share/sounds/sf2, /usr/share/sounds/sf3
SFZ=@@DOTFILES:HOME@@/.sounds/sfz, /usr/share/sounds/sfz
VST2=@@DOTFILES:HOME@@/.vst, @@DOTFILES:HOME@@/.wine/drive_c/Program Files (x86)/VstPlugins, @@DOTFILES:HOME@@/.wine/drive_c/Program Files/VstPlugins, /usr/lib/lxvst, /usr/lib/vst, /usr/local/lib/lxvst, /usr/local/lib/vst@@DOTFILES:HOME@@/.lxvst
VST3=@@DOTFILES:HOME@@/.vst3, @@DOTFILES:HOME@@/.wine/drive_c/Program Files (x86)/Common Files/VST3, @@DOTFILES:HOME@@/.wine/drive_c/Program Files/Common Files/VST3, /usr/lib/vst3, /usr/local/lib/vst3

[Wine]
AutoPrefix=true
BaseRtPrio=15
Executable=wine
FallbackPrefix=@@DOTFILES:HOME@@/.wine
RtPrioEnabled=true
ServerRtPrio=10
