[PluginDatabase]
Geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\x2m\0\0\0\xba\0\0\x6\xb8\0\0\x3\x80\0\0\x2m\0\0\0\xd6\0\0\x6\xb8\0\0\x3\x80\0\0\0\0\0\0\0\0\n\0\0\0\x2m\0\0\0\xd6\0\0\x6\xb8\0\0\x3\x80)
SearchText=
ShowAU=false
ShowBridged=false
ShowBridgedWine=false
ShowCategory=all
ShowDSSI=true
ShowEffects=true
ShowFavorites=false
ShowHasCV=false
ShowHasGUI=false
ShowHasInlineDisplay=false
ShowInstruments=false
ShowInternal=true
ShowJSFX=true
ShowKits=true
ShowLADSPA=true
ShowLV2=true
ShowMIDI=false
ShowNative=true
ShowOther=false
ShowRtSafe=false
ShowStereoOnly=false
ShowVST2=true
ShowVST3=false
TableGeometry_6=@ByteArray(\0\0\0\xff\0\0\0\0\0\0\0\x1\0\0\0\0\0\0\0\x1\x1\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\x2\xe7\0\0\0\x5\0\x1\x1\x1\0\0\0\0\0\0\0\0\0\0\0\0w\0\0\0\x18\0\0\0\x84\0\0\0\0\0\0\0\x5\0\0\0\x18\0\0\0\x1\0\0\0\x2\0\0\0\xfa\0\0\0\x1\0\0\0\0\0\0\0\xc8\0\0\0\x1\0\0\0\0\0\0\0\x96\0\0\0\x1\0\0\0\0\0\0\0w\0\0\0\x1\0\0\0\0\0\0\x3\xe8\0\0\0\0w)
