[CanvasPositions]
Midi%20Through=@Variant(\0\0\0\x1a\0\0\0\0\0\0\0\0@j\0\0\0\0\0\0)
Midi%20Through_INPUT=@Variant(\0\0\0\x1a@qp\0\0\0\0\0@K\0\0\0\0\0\0)
Midi%20Through_OUTPUT=@Variant(\0\0\0\x1a\xc0\x66\x80\0\0\0\0\0@j \0\0\0\0\0)
Midi%20Through_SPLIT=2
Midi-Through=@Variant(\0\0\0\x1a\0\0\0\0\0\0\0\0@C\0\0\0\0\0\0)
Midi-Through_INPUT=@Variant(\0\0\0\x1a@l\x80\0\0\0\0\0\xc0\b\0\0\0\0\0\0)
Midi-Through_OUTPUT=@Variant(\0\0\0\x1a\xc0O\0\0\0\0\0\0@ \0\0\0\0\0\0)
Midi-Through_SPLIT=2
PipeWire=@Variant(\0\0\0\x1a@$\0\0\0\0\0\0@Q\xc0\0\0\0\0\0)
PipeWire_SPLIT=1
REAPER=@Variant(\0\0\0\x1a\xc0R@\0\0\0\0\0@X\0\0\0\0\0\0)
REAPER_SPLIT=1
system=@Variant(\0\0\0\x1a\0\0\0\0\0\0\0\0@C\0\0\0\0\0\0)
system_INPUT=@Variant(\0\0\0\x1a@t`\0\0\0\0\0@\\@\0\0\0\0\0)
system_OUTPUT=@Variant(\0\0\0\x1a\xc0n\xc0\0\0\0\0\0@*\0\0\0\0\0\0)
system_SPLIT=2
