[desktop-monitor-0]
nemo-icon-view-keep-aligned=true
nemo-icon-view-auto-layout=false
nemo-icon-view-layout-timestamp=1787936917
nemo-icon-view-zoom-level=4
desktop-grid-adjust=50;75;

[trash]
nemo-icon-position=44,205
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1787936917

[home]
nemo-icon-position=44,106
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1787936917

[computer]
nemo-icon-position=44,7
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1787936917

[DEITY.volume]
nemo-icon-position=86,308
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1770383294

[2.0 TB Volume.volume]
nemo-icon-position=44,403
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1770506835

[New Volume.volume]
nemo-icon-position=86,408
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1770335219

[LIBRARY.volume]
nemo-icon-position=44,502
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1770744264

[1.0 TB Volume.volume]
nemo-icon-position=44,304
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1770506461

[PROJECTS.volume]
nemo-icon-position=44,304
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1770744259

[ARCHIVE.volume]
nemo-icon-position=44,601
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1770506837

[SAMSUNG Android.volume]
nemo-icon-position=45,898
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1784827690

[Ventoy.volume]
nemo-icon-position=44,898
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1784018121

[VTOYEFI.volume]
nemo-icon-position=44,997
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1784018121

[FEDORA-XFCE.volume]
nemo-icon-position=44,898
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1787444324

[PHOTOS.volume]
nemo-icon-position=44,898
monitor=0
icon-scale=1
nemo-icon-position-timestamp=1787444490
