[settings]
trusted_config_paths = ["/"]

[tools]
bun = "latest"
deno = "latest"
"github:BurntSushi/ripgrep" = "latest"
"github:ogulcancelik/herdr" = "latest"
go = "latest"
node = "24"
pnpm = "latest"
python = "3.12.13"
rust = "latest"
zig = "latest"
