#User Preferences
#Wed Apr 01 21:19:56 PDT 2026
G_FILE_CHOOSER.HEIGHT.Open\ a\ Ghidra\ Project=600
G_FILE_CHOOSER.VIEW_STYLE.Open\ a\ Ghidra\ Project=SimpleView
G_FILE_CHOOSER.WIDTH.Open\ a\ Ghidra\ Project=800
GhidraShowWhatsNew=false
LastExtensionImportDirectory=@@DOTFILES:HOME@@/.config/ghidra/ghidra_12.0.3_PUBLIC/Extensions/GhidraMCP
LastOpenedProject=/mnt/PROJECTS/repos/rebof3-e2e/tmp/bof3_ghidra/main/bof3_main
ProjectDirectory=/mnt/PROJECTS/repos/rebof3-e2e/tmp/bof3_ghidra/main/
RecentProjects=/mnt/PROJECTS/repos/rebof3-e2e/tmp/bof3_ghidra/main/bof3_main
SHOW.HELP.NAVIGATION.AID=true
SHOW_TIPS=false
TIP_INDEX=2
Theme=Class\:generic.theme.builtin.FlatLightTheme
USER_AGREEMENT=ACCEPT
ViewedProjects=
