{
  "addresses": [
    "100.108.239.19",
    "fd7a:115c:a1e0::393b:ef13"
  ],
  "dns_name": "koija.tailc28ab1.ts.net.",
  "node_id": "ny5Q2pJD5A21CNTRL",
  "prefs": {
    "AdvertiseRoutes": null,
    "AdvertiseServices": [
      "svc:hindsight",
      "svc:ninerouter"
    ],
    "AdvertiseTags": null,
    "AutoUpdate": {
      "Apply": true,
      "Check": true
    },
    "CorpDNS": true,
    "ExitNodeAllowLANAccess": false,
    "ExitNodeID": "",
    "ExitNodeIP": "",
    "Hostname": "koija",
    "LoggedOut": false,
    "NetfilterKind": "",
    "NetfilterMode": 2,
    "NoSNAT": false,
    "NoStatefulFiltering": true,
    "OperatorUser": "@@DOTFILES:USER@@",
    "RouteAll": false,
    "RunSSH": true,
    "RunWebClient": false,
    "ShieldsUp": false,
    "WantRunning": true
  },
  "serve": {
    "Services": {
      "svc:hindsight": {
        "TCP": {
          "443": {
            "HTTPS": true
          }
        },
        "Web": {
          "hindsight.tailc28ab1.ts.net:443": {
            "Handlers": {
              "/": {
                "Proxy": "http://127.0.0.1:9999"
              }
            }
          }
        }
      },
      "svc:ninerouter": {
        "TCP": {
          "443": {
            "HTTPS": true
          }
        },
        "Web": {
          "ninerouter.tailc28ab1.ts.net:443": {
            "Handlers": {
              "/": {
                "Proxy": "http://127.0.0.1:20128"
              }
            }
          }
        }
      }
    }
  },
  "services": {
    "svc:hindsight": {
      "addrs": ["100.89.123.251", "fd7a:115c:a1e0::c72b:7bfc"],
      "approved_node_id": "ny5Q2pJD5A21CNTRL",
      "name": "svc:hindsight",
      "ports": ["tcp:443"],
      "tags": ["tag:hindsight"]
    },
    "svc:ninerouter": {
      "addrs": ["100.102.149.102", "fd7a:115c:a1e0::6d2b:9567"],
      "approved_node_id": "ny5Q2pJD5A21CNTRL",
      "name": "svc:ninerouter",
      "ports": ["tcp:443"],
      "tags": ["tag:ninerouter"]
    }
  },
  "tags": [
    "tag:ssh"
  ],
  "version": "1.102.3-t9329c3677-ga522f65e9"
}
