[Desktop Entry]
Type=Application
Name=9Router
Comment=9Router API Proxy
Exec=@@DOTFILES:HOME@@/.local/bin/9router-local --tray --skip-update
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
