CREATE EXTENSION IF NOT EXISTS vchord CASCADE;
CREATE ROLE hindsight WITH LOGIN PASSWORD '@@DOTFILES:SECRET_CONFIG_HINDSIGHT_INITDB_10_HINDSIGHT_SQL_DATABASE_PASSWORD@@';
ALTER DATABASE hindsight OWNER TO hindsight;
