[org/gtk/settings/file-chooser]
window-position=(447, 152)
window-size=(1593, 1174)
date-format='regular'
location-mode='path-bar'
show-hidden=false
show-size-column=true
show-type-column=true
sidebar-width=159
sort-column='name'
sort-directories-first=true
sort-order='ascending'
type-format='category'
