context.properties = [
	support.dbus			= ture
	link.max-buffers		= 64
	mem.warn-mlock			= false
	mem.allow-mlock			= true
	mem.mlock-all			= false
	clock.power-of-two-quantum	= true
	log.level			= 2
	cpu.zero_denormals		= false
	core.name = pipewire-0
	cpu.vm.name = null
]
