context.properties = {
	default.clock.allowed-rates = [ 44100 48000 96000 192000 ]
	default.clock.rate = 48000
	default.clock.quantum = 512
	default.clock.min-quantum = 16
	default.clock.max-quantum = 2048
	default.clock.quantam-limit = 2048
	default.clock.quantum-floor = 4
}
