[Filechooser Settings]
LocationMode=path-bar
ShowHidden=false
ShowSizeColumn=true
GeometryX=546
GeometryY=571
GeometryWidth=1068
GeometryHeight=737
SortColumn=name
SortOrder=ascending
StartupMode=recent
