[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=REAPER
Comment=REAPER
Categories=Audio;Video;AudioVideo;AudioVideoEditing;Recorder;
Exec=/usr/bin/bash -c "/opt/REAPER/launch-reaper.sh %F"
Icon=cockos-reaper
MimeType=application/x-reaper-project;application/x-reaper-project-backup;application/x-reaper-theme
StartupWMClass=REAPER
Name[en_US]=REAPER
Exec[en_US]=/usr/bin/bash -c "/opt/REAPER/launch-reaper.sh %F"
Comment[en_US]=REAPER
Terminal=false
PrefersNonDefaultGPU=false
Icon[en_US]=cockos-reaper
Type[en_US]=Application
