[Desktop Entry]
Name=Game 938876425585434654
Exec=@@DOTFILES:HOME@@/Desktop/OpenGOAL/features/jak1/mods/JakMods/archipelagoal/gk %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-938876425585434654;
