[Desktop Entry]
Name=Ghidra
Comment=Software reverse engineering suite
Exec=/usr/local/bin/ghidra run
TryExec=/usr/local/bin/ghidra
Path=/opt/ghidra
Icon=/opt/ghidra/docs/images/GHIDRA_1.png
Type=Application
Categories=Development;Security;
Terminal=false
StartupNotify=true
