[Desktop Entry]
Name=RSI Launcher
Type=Application
Comment=RSI Launcher
Keywords=Star Citizen;StarCitizen;
Categories=Game;X-WiVRn-VR;
StartupNotify=true
StartupWMClass=rsi launcher.exe
Icon=rsi-launcher
Exec="/mnt/LIBRARY/lug/game/star-citizen/sc-launch.sh"
