(s)|{"appid":"222c7b73-4d3d-4991-8d51-fd1a08428df7","userid":"@@DOTFILES:SECRET_CONFIG_UNITY3D_HORIZON_PRIVATE_SERVER_DREADZONE_ONLINE_UNITY_222C@@","sessionid":7068103178618574756,"platform":"LinuxPlayer","platformid":13,"sdk_ver":"u2022.3.58f1","runMode":"human-hub","sdk_rev":"ed7f6eacb62e","session_count":6,"localprojectid":"b096668f18a15024583c47207d3fbd2c","build_guid":"f08832bfc0f24695a8bd32492f4b2b00","deviceid":"0b1828ab4e744e06b49d2de19bbdb837","identity_token":"@@DOTFILES:SECRET_CONFIG_UNITY3D_HORIZON_PRIVATE_SERVER_DREADZONE_ONLINE_UNITY_222C@@"}
(g)|2
{"type":"analytics.appRunning.v1","msg":{"duration":900,"local_time_offset":28800000,"ts":1771272801956,"t_since_start":906007793}}
{"type":"analytics.appRunning.v1","msg":{"duration":919,"local_time_offset":28800000,"ts":1771272821432,"t_since_start":925483644}}
(1){"type":"analytics.appStop.v1","msg":{"ts":1771272821432,"t_since_start":925483677}}
