{
 "Week": "2026-04-21",
 "LastWeek": "",
 "X": 0.0990407193544669,
 "Programs": [
  {
   "Program": "cmd/go",
   "Version": "go1.26.1",
   "GoVersion": "go1.26.1",
   "GOOS": "linux",
   "GOARCH": "amd64",
   "Counters": {
    "go/cgo:enabled": 147,
    "go/goroot:other": 147,
    "go/invocations": 147,
    "go/mode:module": 147,
    "go/platform/host/linux/major-version:6": 147,
    "go/platform/host/linux/version:6-17": 147,
    "go/platform/target/goamd64:v1": 147,
    "go/platform/target/goarch:amd64": 147,
    "go/platform/target/goos:linux": 147,
    "go/subcommand:version": 147
   },
   "Stacks": {}
  }
 ],
 "Config": "v0.0.0-0"
}