{
 "Week": "2026-05-12",
 "LastWeek": "",
 "X": 0.6935527961431986,
 "Programs": [
  {
   "Program": "cmd/go",
   "Version": "go1.26.1",
   "GoVersion": "go1.26.1",
   "GOOS": "linux",
   "GOARCH": "amd64",
   "Counters": {
    "go/cgo:enabled": 27,
    "go/goroot:other": 27,
    "go/invocations": 27,
    "go/mode:module": 27,
    "go/platform/host/linux/major-version:6": 27,
    "go/platform/host/linux/version:6-17": 27,
    "go/platform/target/goamd64:v1": 27,
    "go/platform/target/goarch:amd64": 27,
    "go/platform/target/goos:linux": 27,
    "go/subcommand:version": 27
   },
   "Stacks": {}
  }
 ],
 "Config": "v0.0.0-0"
}