{
 "Week": "2026-04-07",
 "LastWeek": "",
 "X": 0.32641276791798757,
 "Programs": [
  {
   "Program": "cmd/asm",
   "Version": "go1.26.1",
   "GoVersion": "go1.26.1",
   "GOOS": "linux",
   "GOARCH": "amd64",
   "Counters": {
    "asm/flag:D": 52,
    "asm/flag:I": 52,
    "asm/flag:gensymabis": 15,
    "asm/flag:o": 52,
    "asm/flag:p": 52,
    "asm/flag:trimpath": 52,
    "asm/invocations": 52
   },
   "Stacks": {}
  },
  {
   "Program": "cmd/compile",
   "Version": "go1.26.1",
   "GoVersion": "go1.26.1",
   "GOOS": "linux",
   "GOARCH": "amd64",
   "Counters": {
    "compile/flag:asmhdr": 15,
    "compile/flag:buildid": 92,
    "compile/flag:c": 92,
    "compile/flag:complete": 72,
    "compile/flag:goversion": 92,
    "compile/flag:importcfg": 92,
    "compile/flag:lang": 92,
    "compile/flag:nolocalimports": 92,
    "compile/flag:o": 92,
    "compile/flag:p": 92,
    "compile/flag:pack": 92,
    "compile/flag:std": 76,
    "compile/flag:symabis": 15,
    "compile/flag:trimpath": 92,
    "compile/invocations": 93
   },
   "Stacks": {}
  },
  {
   "Program": "cmd/go",
   "Version": "go1.26.1",
   "GoVersion": "go1.26.1",
   "GOOS": "linux",
   "GOARCH": "amd64",
   "Counters": {
    "go/buildcache/miss": 93,
    "go/buildcache/stdlib-recompiled": 1,
    "go/cgo:enabled": 2,
    "go/goroot:other": 2,
    "go/install/flag:v": 1,
    "go/invocations": 2,
    "go/mode:module": 2,
    "go/platform/host/linux/major-version:6": 2,
    "go/platform/host/linux/version:6-17": 2,
    "go/platform/target/goamd64:v1": 2,
    "go/platform/target/goarch:amd64": 2,
    "go/platform/target/goos:linux": 2,
    "go/subcommand:install": 1,
    "go/subcommand:version": 1
   },
   "Stacks": {}
  },
  {
   "Program": "cmd/link",
   "Version": "go1.26.1",
   "GoVersion": "go1.26.1",
   "GOOS": "linux",
   "GOARCH": "amd64",
   "Counters": {
    "link/flag:X": 1,
    "link/flag:buildid": 1,
    "link/flag:buildmode": 1,
    "link/flag:extld": 1,
    "link/flag:importcfg": 1,
    "link/flag:o": 1,
    "link/invocations": 2
   },
   "Stacks": {}
  }
 ],
 "Config": "v0.0.0-0"
}