{
 "Week": "2026-04-28",
 "LastWeek": "",
 "X": 0.3819852190185353,
 "Programs": [
  {
   "Program": "cmd/go",
   "Version": "go1.26.1",
   "GoVersion": "go1.26.1",
   "GOOS": "linux",
   "GOARCH": "amd64",
   "Counters": {
    "go/cgo:enabled": 113,
    "go/goroot:other": 113,
    "go/invocations": 113,
    "go/mode:module": 113,
    "go/platform/host/linux/major-version:6": 113,
    "go/platform/host/linux/version:6-17": 113,
    "go/platform/target/goamd64:v1": 113,
    "go/platform/target/goarch:amd64": 113,
    "go/platform/target/goos:linux": 113,
    "go/subcommand:version": 113
   },
   "Stacks": {}
  }
 ],
 "Config": "v0.0.0-0"
}