{
 "Week": "2026-05-19",
 "LastWeek": "",
 "X": 0.3418691600809074,
 "Programs": [
  {
   "Program": "cmd/go",
   "Version": "go1.26.1",
   "GoVersion": "go1.26.1",
   "GOOS": "linux",
   "GOARCH": "amd64",
   "Counters": {
    "go/cgo:enabled": 2,
    "go/goroot:other": 2,
    "go/invocations": 2,
    "go/mode:module": 2,
    "go/platform/host/linux/major-version:6": 2,
    "go/platform/host/linux/version:6-17": 2,
    "go/platform/target/goamd64:v1": 2,
    "go/platform/target/goarch:amd64": 2,
    "go/platform/target/goos:linux": 2,
    "go/subcommand:version": 2
   },
   "Stacks": {}
  }
 ],
 "Config": "v0.0.0-0"
}