{
  "version": 3,
  "skills": {
    "hindsight-docs": {
      "source": "vectorize-io/hindsight",
      "sourceType": "github",
      "sourceUrl": "https://github.com/vectorize-io/hindsight.git",
      "skillPath": "skills/hindsight-docs/SKILL.md",
      "skillFolderHash": "db751cf7056efc79171c82806abd9c479f4f6793",
      "installedAt": "2026-09-10T08:03:16.270Z",
      "updatedAt": "2026-09-10T08:03:16.270Z"
    },
    "tailscale": {
      "source": "tailscale/tailscale-skill",
      "sourceType": "github",
      "sourceUrl": "https://github.com/tailscale/tailscale-skill.git",
      "skillPath": "skills/tailscale/SKILL.md",
      "skillFolderHash": "a869ca83270acf031ebb8ffff4b664d62d5d9b0f",
      "installedAt": "2026-09-11T00:55:02.016Z",
      "updatedAt": "2026-09-11T00:55:02.016Z"
    }
  },
  "dismissed": {}
}