{
  "version": 3,
  "skills": {
    "hindsight-docs": {
      "source": "vectorize-io/hindsight",
      "sourceType": "github",
      "sourceUrl": "https://github.com/vectorize-io/hindsight.git",
      "skillPath": "skills/hindsight-docs/SKILL.md",
      "skillFolderHash": "db751cf7056efc79171c82806abd9c479f4f6793",
      "installedAt": "2026-09-10T08:03:16.270Z",
      "updatedAt": "2026-09-10T08:03:16.270Z"
    }
  },
  "dismissed": {}
}