interface:
  display_name: "Subtract Before You Add"
  short_description: "Remove dead weight before building"
  default_prompt: "Use $subtract-before-you-add to remove dead weight before adding the new thing."
policy:
  allow_implicit_invocation: false
