{
  "settings_version": "0.0.6",
  "datasets_dir": "/mnt/PROJECTS/repos/datasets",
  "weights_dir": "/mnt/PROJECTS/repos/ComfyUI/weights",
  "runs_dir": "/mnt/PROJECTS/repos/ComfyUI/runs",
  "uuid": "863850a4c80d234cc76ec47d1671602944bbfbc2c7f8dad2017caeb910bbe4e3",
  "sync": true,
  "api_key": "",
  "openai_api_key": "",
  "clearml": true,
  "comet": true,
  "dvc": true,
  "hub": true,
  "mlflow": true,
  "neptune": true,
  "raytune": true,
  "tensorboard": false,
  "wandb": false,
  "vscode_msg": true,
  "openvino_msg": true
}