#monitor.bluez.rules = [
#	{
#		matches = [
#			{
#				device.name = "~bluez_output\.00_0A_45_19_2B_21.*"
#			}
#		]
#	}
#	actions = {
#		update-props = {
#			@@DOTFILES:SECRET_AGENTS_SKILLS_HINDSIGHT_DOCS_REFERENCES_BEST_PRACTICES_MD_KEY_2@@.driver = 1000
#			@@DOTFILES:SECRET_AGENTS_SKILLS_HINDSIGHT_DOCS_REFERENCES_BEST_PRACTICES_MD_KEY_2@@.session = 1000
#			api.bluez5.codec = "sbc_xq"
#			api.bluez5.profile = "a2dp-sink"
#			media.class = Audio/Sink
#			media.name = "Audio Technica M50xBT2 Wireless Headset"
#			node.description = "Audio Technica M50xBT2 Wireless Headset"
#			node.driver = true
#		}
#	}
#]
