[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec="@@DOTFILES:HOME@@/Desktop/emulators/rpcs3-v0.0.39-18794-b30a44c1_linux64.AppImage" 
Name=RPCS3
Categories=Application;Game
Comment=RPCS3
Icon=@@DOTFILES:HOME@@/.cache/rpcs3/shortcut.png
