<?xml version="1.0" encoding="UTF-8"?>

<PROPERTIES>
  <VALUE name="welcomeScreenAlreadyShown" val="1"/>
  <VALUE name="loginJwtToken" val="@@DOTFILES:SECRET_CONFIG_DECENTSAMPLER_DECENTSAMPLER_XML_CREDENTIAL@@"/>
  <VALUE name="loginJwtExpiresAt" val="1771952227651"/>
  <VALUE name="loginEmail" val="@@DOTFILES:SECRET_CONFIG_9ROUTER_RESTORE_JSON_EMAIL_2@@"/>
  <VALUE name="numRecentFiles" val="10"/>
  <VALUE name="recentFile00FriendlyName" val="Subfrost (Free Ed.)"/>
  <VALUE name="recentFile00Url" val="file://@@DOTFILES:HOME@@/.config/DecentSampler/Sample%20Libraries/VT%20-%20Subfrost%20Free%20Edition.dsbundle"/>
  <VALUE name="recentFile00Bookmark" val="0."/>
  <VALUE name="recentFile01FriendlyName" val="Volitions"/>
  <VALUE name="recentFile01Url" val="file://@@DOTFILES:HOME@@/.config/DecentSampler/Sample%20Libraries/VT%20-%20Volitions%20Free%20Edition.dsbundle"/>
  <VALUE name="recentFile01Bookmark" val="0."/>
  <VALUE name="recentFile02FriendlyName" val="Chord Organ"/>
  <VALUE name="recentFile02Url" val="file://@@DOTFILES:HOME@@/.config/DecentSampler/Sample%20Libraries/Chord%20Organ.dsbundle"/>
  <VALUE name="recentFile02Bookmark" val="0."/>
  <VALUE name="recentFile03FriendlyName" val="VT + DS - Interlaced Free Edition"/>
  <VALUE name="recentFile03Url" val="file://@@DOTFILES:HOME@@/.config/DecentSampler/Sample%20Libraries/VT%20%2B%20DS%20-%20Interlaced%20Free%20Edition.dsbundle"/>
  <VALUE name="recentFile03Bookmark" val="0."/>
  <VALUE name="recentFile04FriendlyName" val="The Void (Free Edition)"/>
  <VALUE name="recentFile04Url" val="file://@@DOTFILES:HOME@@/.config/DecentSampler/Sample%20Libraries/Black%20Sparrow%20Music%20-%20The%20Void%20%5BFree%20Edition%5D.dsbundle"/>
  <VALUE name="recentFile04Bookmark" val="0."/>
  <VALUE name="recentFile05FriendlyName" val="Record Cutter Synth"/>
  <VALUE name="recentFile05Url" val="file://@@DOTFILES:HOME@@/.config/DecentSampler/Sample%20Libraries/Record%20Cutter%20Synth.dsbundle"/>
  <VALUE name="recentFile05Bookmark" val="0."/>
  <VALUE name="recentFile06FriendlyName" val="Santa Monica Waves"/>
  <VALUE name="recentFile06Url" val="file://@@DOTFILES:HOME@@/.config/DecentSampler/Sample%20Libraries/Santa%20Monica%20Waves.dsbundle"/>
  <VALUE name="recentFile06Bookmark" val="0."/>
  <VALUE name="recentFile07FriendlyName" val="Cifteli"/>
  <VALUE name="recentFile07Url" val="file://@@DOTFILES:HOME@@/.config/DecentSampler/Sample%20Libraries/Cifteli.dsbundle"/>
  <VALUE name="recentFile07Bookmark" val="0."/>
  <VALUE name="recentFile08FriendlyName" val="DS + VT // alt.strings Free Edition"/>
  <VALUE name="recentFile08Url" val="file://@@DOTFILES:HOME@@/.config/DecentSampler/Sample%20Libraries/DS%20%2B%20VT%20-%20altstrings%20Free%20Edition.dsbundle"/>
  <VALUE name="recentFile08Bookmark" val="0."/>
  <VALUE name="recentFile09FriendlyName" val="Folk Art Violin"/>
  <VALUE name="recentFile09Url" val="file://@@DOTFILES:HOME@@/.config/DecentSampler/Sample%20Libraries/Folk%20Art%20Violin.dsbundle"/>
  <VALUE name="recentFile09Bookmark" val="0."/>
</PROPERTIES>
