
# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"
[[ -s @@DOTFILES:HOME@@/.rsvm/rsvm.sh ]] && . @@DOTFILES:HOME@@/.rsvm/rsvm.sh # This loads RSVM

. "$HOME/.local/bin/env"

#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

if [ -r "$HOME/.config/user-tools/env.sh" ]; then
    . "$HOME/.config/user-tools/env.sh"
fi
if [ -x "$HOME/.local/bin/mise" ]; then
    eval "$("$HOME/.local/bin/mise" activate zsh)"
fi
