[Defaults]
ConnectionsTabPage=0
MessagesStatusTabPage=0
PatchbayPath=@@DOTFILES:HOME@@/Documents/patchbay_persist.xml
SessionSaveVersion=true

[Geometry]
qjackctlConnectionsForm\geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\x4\xc0\0\0\x2p\0\0\x6\xb3\0\0\x3\xaf\0\0\x4\xc0\0\0\x2p\0\0\x6\xb3\0\0\x3\xaf\0\0\0\0\0\0\0\0\bY\0\0\x4\xc0\0\0\x2p\0\0\x6\xb3\0\0\x3\xaf)
qjackctlConnectionsForm\visible=false
qjackctlGraphForm\geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\x1}\0\0\x1\xb0\0\0\x4\x9c\0\0\x4\a\0\0\x1}\0\0\x1\xb0\0\0\x4\x9c\0\0\x4\a\0\0\0\0\0\0\0\0\bY\0\0\x1}\0\0\x1\xb0\0\0\x4\x9c\0\0\x4\a)
qjackctlGraphForm\visible=false
qjackctlMainForm\geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\x5\xad\0\0\x2p\0\0\as\0\0\x2\xea\0\0\x5\xad\0\0\x2\x87\0\0\as\0\0\x2\xea\0\0\0\0\0\0\0\0\bY\0\0\x5\xad\0\0\x2\x87\0\0\as\0\0\x2\xea)
qjackctlMainForm\visible=false
qjackctlMessagesStatusForm\geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\x2\x42\0\0\x2\xbf\0\0\x4\xfa\0\0\x3P\0\0\x2\x42\0\0\x2\xbf\0\0\x4\xfa\0\0\x3P\0\0\0\0\0\0\0\0\bY\0\0\x2\x42\0\0\x2\xbf\0\0\x4\xfa\0\0\x3P)
qjackctlMessagesStatusForm\visible=false
qjackctlPatchbayForm\geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\x2\xc3\0\0\x1\xea\0\0\x5R\0\0\x3)\0\0\x2\xc3\0\0\x1\xea\0\0\x5R\0\0\x3)\0\0\0\0\0\0\0\0\bY\0\0\x2\xc3\0\0\x1\xea\0\0\x5R\0\0\x3))
qjackctlPatchbayForm\visible=false
qjackctlSessionForm\geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\x4>\0\0\x2\x12\0\0\x6\x1d\0\0\x3Q\0\0\x4>\0\0\x2\x12\0\0\x6\x1d\0\0\x3Q\0\0\0\0\0\0\0\0\bY\0\0\x4>\0\0\x2\x12\0\0\x6\x1d\0\0\x3Q)
qjackctlSessionForm\visible=false

[GraphCanvas]
CanvasRect=@Variant(\0\0\0\x14\xc0\x83\\\0\0\0\0\0\xc0s\xa1\xeb\x85\x1e\xb8R@\x94\x10\0\0\0\0\0@\x86\xa9\xeb\x85\x1e\xb8R)
CanvasZoom=1

[GraphColors]
0x2c2fdc12=#6b006b
0x30fc78a9=#6b0000
0x888db5ec=#6b6b00
0xae9f46b4=#006b6b
0xb91441cf=#006b00

[GraphLayout]
qjackctlGraphForm=@ByteArray(\0\0\0\xff\0\0\0\0\xfd\0\0\0\0\0\0\x3 \0\0\x2\x2\0\0\0\x4\0\0\0\x4\0\0\0\b\0\0\0\b\xfc\0\0\0\x1\0\0\0\x2\0\0\0\x1\0\0\0\xe\0T\0o\0o\0l\0\x42\0\x61\0r\x1\0\0\0\0\xff\xff\xff\xff\0\0\0\0\0\0\0\0)

[GraphNodePos]
129%3ARtMidi%20Input%20Client=@Variant(\0\0\0\x1a@R\0\0\0\0\0\0\xc0X\0\0\0\0\0\0)
131%3AWINE%20midi%20driver=@Variant(\0\0\0\x1a\xc0 \0\0\0\0\0\0\xc0 \0\0\0\0\0\0)
14%3AMidi%20Through%3AInput=@Variant(\0\0\0\x1a@q\xe0\0\0\0\0\0@g\x80\0\0\0\0\0)
14%3AMidi%20Through%3AOutput=@Variant(\0\0\0\x1a\xc0o\xe0\0\0\0\0\0@g`\0\0\0\0\0)
Calf%20Studio%20Gear=@Variant(\0\0\0\x1a@a@\0\0\0\0\0@P\xc0\0\0\0\0\0)
M=@Variant(\0\0\0\x1a@u\xc0\0\0\0\0\0\xc0O\0\0\0\0\0\0)
Mi=@Variant(\0\0\0\x1a@L\0\0\0\0\0\0@8\0\0\0\0\0\0)
Milkytracker=@Variant(\0\0\0\x1a\xc0m\0\0\0\0\0\0@G\0\0\0\0\0\0)
PipeWire=@Variant(\0\0\0\x1a@\x10\0\0\0\0\0\0\xc0Z\x80\0\0\0\0\0)
REAPER=@Variant(\0\0\0\x1a\xc0\x62\x80\0\0\0\0\0@D\0\0\0\0\0\0)
a2j%3AInput=@Variant(\0\0\0\x1a@sP\0\0\0\0\0\xc0\x61\xe0\0\0\0\0\0)
a2j%3AOutput=@Variant(\0\0\0\x1a\xc0p@\0\0\0\0\0\xc0\x62\0\0\0\0\0\0)
milkytracker.P.10074.0="@Variant(\0\0\0\x1a@;\0\0\0\0\0\0@`\xc0\0\0\0\0\0)"
milkytracker.P.10173.0=@Variant(\0\0\0\x1a@(\0\0\0\0\0\0\xc0S\0\0\0\0\0\0)
system=@Variant(\0\0\0\x1a\xc0p@\0\0\0\0\0@L\x80\0\0\0\0\0)
system%3AInput=@Variant(\0\0\0\x1a@u\x10\0\0\0\0\0\xc0L\x80\0\0\0\0\0)
system%3AOutput=@Variant(\0\0\0\x1a\xc0s0\0\0\0\0\0\xc0\"\0\0\0\0\0\0)

[GraphView]
ConnectThroughNodes=false
Menubar=true
RepelOverlappingNodes=false
SortOrder=0
SortType=0
Statusbar=true
TextBesideIcons=true
Toolbar=true
ZoomRange=false

[History]
ActivePatchbayPathComboBox\Item1=@@DOTFILES:HOME@@/Documents/patchbay_persist.xml
MessagesLogPathComboBox\Item1=qjackctl.log
PostStartupScriptShellComboBox\Item1=pactl load-module module-jack-sink && pactl load-module module-jack-source && pactl set-default-sink jack_out && pacmd set-default-source jack_in && pacmd list-sink-inputs | grep index | sed 's/ *index: *//g' | xargs -I{} pacmd move-sink-input \"{}\" jack_out
ServerConfigNameComboBox\Item1=.jackdrc
ServerNameComboBox\Item1=(default)
ServerPrefixComboBox\Item1=jackd
ServerPrefixComboBox\Item2=jackdmp
ServerPrefixComboBox\Item3=jackstart
XrunRegexComboBox\Item1=xrun of at least ([0-9|\\.]+) msecs

[Options]
ActivePatchbay=true
ActivePatchbayPath=@@DOTFILES:HOME@@/Documents/patchbay_persist.xml
ActivePatchbayReset=false
AliasesEditing=false
AliasesEnabled=false
AlsaSeqEnabled=true
BaseFontSize=0
ConnectionsFont="Sans Serif,10,-1,5,700,0,0,0,0,0,0,0,0,0,0,1"
ConnectionsIconSize=0
CustomColorTheme=
CustomStyleTheme=
DBusEnabled=true
DisplayBlink=true
DisplayEffect=true
DisplayFont1="Sans Serif,12,-1,5,700,0,0,0,0,0,0,0,0,0,0,1"
DisplayFont2="Sans Serif,6,-1,5,700,0,0,0,0,0,0,0,0,0,0,1"
GraphButton=true
JackClientPortAlias=0
JackClientPortMetadata=false
JackDBusEnabled=true
KeepOnTop=false
LeftButtons=true
MessagesFont="Monospace,8,-1,5,700,0,0,0,0,0,0,0,0,0,0,1"
MessagesLimit=true
MessagesLimitLines=1000
MessagesLog=false
MessagesLogPath=qjackctl.log
PostShutdownScript=false
PostShutdownScriptShell=
PostStartupScript=false
PostStartupScriptShell=pactl load-module module-jack-sink && pactl load-module module-jack-source && pactl set-default-sink jack_out && pacmd set-default-source jack_in && pacmd list-sink-inputs | grep index | sed 's/ *index: *//g' | xargs -I{} pacmd move-sink-input \"{}\" jack_out
QueryClose=true
QueryDisconnect=true
QueryRestart=false
QueryShutdown=false
RightButtons=true
ServerConfig=true
ServerConfigName=.jackdrc
ShutdownScript=false
ShutdownScriptShell=
Singleton=true
StartJack=true
StartMinimized=true
StartupScript=false
StartupScriptShell=
StdoutCapture=true
StopJack=false
SystemTray=true
SystemTrayQueryClose=false
TextLabels=true
TimeDisplay=0
TransportButtons=true
XrunRegex=xrun of at least ([0-9|\\.]+) msecs

[Patchbays]
Patchbay1=@@DOTFILES:HOME@@/Documents/patchbay_persist.xml

[Presets]
DefPreset=(default)
OldPreset=

[Program]
Version=0.9.13

[Settings]
Audio=0
Chan=0
ClockSource=115
Dither=3
Driver=alsa
Frames=2048
HWMeter=false
IgnoreHW=false
InChannels=0
InDevice=
InLatency=0
Interface=hw:Audio
MidiDriver=raw
Monitor=false
NoMemLock=false
OutChannels=0
OutDevice=
OutLatency=0
Periods=1
PortMax=512
Priority=10
Realtime=true
SampleRate=48000
SelfConnectMode=69
Server=jackd
ServerName=
ServerSuffix=
Shorts=false
SoftMode=false
StartDelay=2
Sync=false
Timeout=0
UnlockMem=false
Verbose=false
Wait=0
WordLength=0

[Splitter]
AlsaConnectView\sizes=38, 20, 38
AudioConnectView\sizes=269, 90, 269
InfraClientSplitter\sizes=13, 13
MidiConnectView\sizes=38, 20, 38
PatchbayView\sizes=38, 20, 38
