[AlsaMidi]
Enabled=true

[GraphCanvas]
CanvasRect=@Variant(\0\0\0\x14\xc0\x8f\x36\xe1G\xae\x14{\xc0\x81\xc2\xf5\xc2\x8f\\)@\xa4\xf9{N\x81\xb4\xe9@\x94R\xf5\xc2\x8f\\()
CanvasZoom=1.2000000000000002

[GraphColors]
0x172973e6=#006b6b
0x2c2fdc12=#6b006b
0x30fc78a9=#6b0000
0x50c34e7e=#6b6b00
0xb91441cf=#006b00

[GraphGeometry]
qpwgraph_form=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\0\xec\0\0\x1\xe\0\0\x5\xff\0\0\x4(\0\0\0\xec\0\0\x1%\0\0\x5\xff\0\0\x4(\0\0\0\0\0\0\0\0\bY\0\0\0\xec\0\0\x1%\0\0\x5\xff\0\0\x4()

[GraphLayout]
qpwgraph_form=@ByteArray(\0\0\0\xff\0\0\0\0\xfd\0\0\0\0\0\0\x5\x14\0\0\x2\x87\0\0\0\x4\0\0\0\x4\0\0\0\b\0\0\0\b\xfc\0\0\0\x2\0\0\0\x2\0\0\0\x1\0\0\0\x18\0g\0r\0\x61\0p\0h\0T\0o\0o\0l\0\x62\0\x61\0r\x1\0\0\0\0\xff\xff\xff\xff\0\0\0\0\0\0\0\0\0\0\0\x2\0\0\0\x1\0\0\0\x1e\0p\0\x61\0t\0\x63\0h\0\x62\0\x61\0y\0T\0o\0o\0l\0\x62\0\x61\0r\x1\0\0\0\0\xff\xff\xff\xff\0\0\0\0\0\0\0\0)

[GraphNodePos]
129%3ARtMidi%20Input%20Client=@Variant(\0\0\0\x1a@\x84\0\0\0\0\0\0@n\0\0\0\0\0\0)
131%3AWINE%20midi%20driver=@Variant(\0\0\0\x1a@n\x80\0\0\0\0\0\xc0\x62\x80\0\0\0\0\0)
14%3AMidi%20Through%3AInput=@Variant(\0\0\0\x1a@Q\x80\0\0\0\0\0\xc0vP\0\0\0\0\0)
14%3AMidi%20Through%3AOutput=@Variant(\0\0\0\x1a\xc0p\xf0\0\0\0\0\0\xc0v \0\0\0\0\0)
ALSA%20plug-in%20%5Bocenaudio%5D=@Variant(\0\0\0\x1a\xc0\x64uUUUUW@\x81\xcdUUUUV)
ALSA%20plug-in%20%5Bocenaudio%5D_1=@Variant(\0\0\0\x1a@p\xc5UUUUY\xc0\x81\xc2\xf5\xc2\x8f\\))
ATH-M50xBT2%20%5BMonitor%5D=@Variant(\0\0\0\x1a\xc0K\xaa\xaa\xaa\xaa\xaa\xac@r]UUUUV)
ATH-M50xBT2%20%5BMonitor%5D_1=@Variant(\0\0\0\x1a\xc0l\xc0\0\0\0\0\0@j\x80\0\0\0\0\0)
ATH-M50xBT2%3AInput=@Variant(\0\0\0\x1a@\x85`\0\0\0\0\0\xc0k\a@\xdat\r\xa9)
ATH-M50xBT2%3AOutput=@Variant(\0\0\0\x1a\xc0x\x80\0\0\0\0\0\xc0y\x80\0\0\0\0\0)
ATH-M50xBT2_1%3AInput=@Variant(\0\0\0\x1a@\x84\xb1UUUUV\xc0h\xa0\0\0\0\0\0)
ATH-M50xBT2_1%3AOutput=@Variant(\0\0\0\x1a@_\xe0\0\0\0\0\x5@V\xca\xaa\xaa\xaa\xaa\xa8)
Addictive%20Drums%202=@Variant(\0\0\0\x1a@a\0\0\0\0\0\0\xc0`\0\0\0\0\0\0)
Addictive%20Drums%202.exe=@Variant(\0\0\0\x1a@o\x80\0\0\0\0\0\xc0L\0\0\0\0\0\0)
Addictive%20Keys=@Variant(\0\0\0\x1a@\x10\0\0\0\0\0\0\xc0H\0\0\0\0\0\0)
Addictive%20Keys.exe=@Variant(\0\0\0\x1a@4\0\0\0\0\0\0\xc0`\x80\0\0\0\0\0)
Archipelago=@Variant(\0\0\0\x1a\xc0\x10\0\0\0\0\0\0\xc0\x38\0\0\0\0\0\0)
ArchipelagoLauncher=@Variant(\0\0\0\x1a@a\x80\0\0\0\0\0\xc0\x46\0\0\0\0\0\0)
ArchipelagoLauncher-1=@Variant(\0\0\0\x1a@v\x80\0\0\0\0\0\xc0\x65\0\0\0\0\0\0)
Blender=@Variant(\0\0\0\x1a@\x80`\0\0\0\0\0@o\x80\0\0\0\0\0)
Calf%20Compressor=@Variant(\0\0\0\x1a@Z\xea\xaa\xaa\xaa\xaa\xb1\xc0R\xea\xaa\xaa\xaa\xaa\xac)
Calf%20Equalizer%208%20Band=@Variant(\0\0\0\x1a@xx\0\0\0\0\x1\xc0R\n\xaa\xaa\xaa\xaa\xab)
Calf%20Gate=@Variant(\0\0\0\x1a\xc0R\x80\0\0\0\0\0\xc0Rj\xaa\xaa\xaa\xaa\xab)
Carla.102\Calf%20Compressor=@Variant(\0\0\0\x1a@l\xb0\0\0\0\0\x2\xc0lUUUUUV)
Carla.102\Calf%20Equalizer%208%20Band=@Variant(\0\0\0\x1a@\x85\xfc\0\0\0\0\x1\xc0\x64\xe0\0\0\0\0\x1)
Carla.102\Calf%20Gate=@Variant(\0\0\0\x1a\xc0\x42\xea\xaa\xaa\xaa\xaa\xa8\xc0j\xaa\xaa\xaa\xaa\xaa\xac)
Chromium=@Variant(\0\0\0\x1a@\x80`\0\0\0\0\0@o\x80\0\0\0\0\0)
Chromium-1=@Variant(\0\0\0\x1a@\x1dUUUUU`\xc0\x66\xca\xaa\xaa\xaa\xaa\xab)
Chromium_1=@Variant(\0\0\0\x1a@duUUUUV\xc0p\x85UUUUV)
Dummy%20Output=@Variant(\0\0\0\x1a@H\0\0\0\0\0\0@W\0\0\0\0\0\0)
FMOD%20Ex%20App=@Variant(\0\0\0\x1a@a\x80\0\0\0\0\0\xc0\x46\0\0\0\0\0\0)
FMOD%20Ex%20App-1=@Variant(\0\0\0\x1a@w\0\0\0\0\0\0\xc0L\0\0\0\0\0\0)
Firefox=@Variant(\0\0\0\x1a\xc0\x41\x80\0\0\0\0\b\xc0k\xca\xaa\xaa\xaa\xaa\xa8)
Firefox-1=@Variant(\0\0\0\x1a@Y\0\0\0\0\0\0\xc0`\0\0\0\0\0\0)
Firefox-2=@Variant(\0\0\0\x1a@a\x80\0\0\0\0\0\xc0\x38\0\0\0\0\0\0)
Firefox-3=@Variant(\0\0\0\x1a@\x80`\0\0\0\0\0@o\x80\0\0\0\0\0)
Firefox_1=@Variant(\0\0\0\x1a\xc0\x41\x80\0\0\0\0\b\xc0k\xca\xaa\xaa\xaa\xaa\xa8)
Google%20Chrome=@Variant(\0\0\0\x1a@o\x80\0\0\0\0\0\xc0\x46\0\0\0\0\0\0)
Google%20Chrome%20input=@Variant(\0\0\0\x1a@\x84\0\0\0\0\0\0@n\0\0\0\0\0\0)
Google%20Chrome-1=@Variant(\0\0\0\x1a@\x80`\0\0\0\0\0@o\x80\0\0\0\0\0)
Google%20Chrome-2=@Variant(\0\0\0\x1a@\x80`\0\0\0\0\0@o\x80\0\0\0\0\0)
Google%20Chrome-3=@Variant(\0\0\0\x1a@\x80`\0\0\0\0\0@o\x80\0\0\0\0\0)
HDA%20NVidia%20Digital%20Stereo%20%28HDMI%29%20%5BMonitor%5D=@Variant(\0\0\0\x1a\xc0uJ\xaa\xaa\xaa\xaa\xaa@2\xd5UUUUT)
HDA%20NVidia%20Digital%20Stereo%20%28HDMI%29%3AInput=@Variant(\0\0\0\x1a@\x90z\0\0\0\0\0\xc0g\x10\0\0\0\0\x1)
Horizon%20Zero%20Dawn%U2122%20Remastered=@Variant(\0\0\0\x1a\xc0\x64p\0\0\0\0\0@i\xaa\xaa\xaa\xaa\xaa\xaa)
Horizon%20Zero%20Dawn%U2122%20Remastered-1="@Variant(\0\0\0\x1a@-\0\0\0\0\0 @=\xaa\xaa\xaa\xaa\xaa\xb0)"
Horizon%20Zero%20Dawn%U2122%20Remastered-1_1=@Variant(\0\0\0\x1a@\x1a\0\0\0\0\0\0\xc0\x66j\xaa\xaa\xaa\xaa\xac)
Horizon%20Zero%20Dawn%U2122%20Remastered-2=@Variant(\0\0\0\x1a\xc0z\x12\xaa\xaa\xaa\xaa\xaa\xc0s\xda\xaa\xaa\xaa\xaa\xab)
Horizon%20Zero%20Dawn%U2122%20Remastered-2_1=@Variant(\0\0\0\x1a\xc0X\0\0\0\0\0\0\xc0[\0\0\0\0\0\0)
HorizonZeroDawnRemastered.exe=@Variant(\0\0\0\x1a@\x8a\xe0\0\0\0\0\0@Q\0\0\0\0\0\0)
HyperX%20QuadCast%202%20S%20Analog%20Stereo%20%5BMonitor%5D=@Variant(\0\0\0\x1a\xc0 \0\0\0\0\0\0\xc0\x34\0\0\0\0\0\0)
HyperX%20QuadCast%202%20S%20Analog%20Stereo%3AInput=@Variant(\0\0\0\x1a@u\xc0\0\0\0\0\0@N\0\0\0\0\0\0)
HyperX%20QuadCast%202%20S%20Analog%20Stereo%3AOutput=@Variant(\0\0\0\x1a\xc0y\x8dUUUUR\xc0R\xca\xaa\xaa\xaa\xaa\xa7)
HyperX%20QuadCast%202%20S%20Digital%20Stereo%20%28IEC958%29%20%5BMonitor%5D=@Variant(\0\0\0\x1a\xc0s\xda\xaa\xaa\xaa\xaa\xaa@^\x8a\xaa\xaa\xaa\xaa\xa8)
HyperX%20QuadCast%202%20S%20Digital%20Stereo%20%28IEC958%29%3AInput=@Variant(\0\0\0\x1a@\x90\x89UUUUV\xc0q\xd5UUUUV)
INSTRUMENT=@Variant(\0\0\0\x1a@w\0\0\0\0\0\0\xc0L\0\0\0\0\0\0)
JACK%20Sink%3AInput=@Variant(\0\0\0\x1a@\x7f@\0\0\0\0\0\xc0qP\0\0\0\0\0)
JACK%20Source%3AOutput=@Variant(\0\0\0\x1a\xc0l \0\0\0\0\0\xc0q0\0\0\0\0\0)
Main%20Audio=@Variant(\0\0\0\x1a@|\0\0\0\0\0\x6\xc0n\xf0\0\0\0\0\b)
Microphone%20FX=@Variant(\0\0\0\x1a@\x85l\0\0\0\0\x6\xc0Vj\xaa\xaa\xaa\xaa\xae)
Midi-Bridge%3AInput=@Variant(\0\0\0\x1a@|\xaa\xaa\xaa\xaa\xaa\xab@{@\0\0\0\0\x1)
Midi-Bridge%3AOutput=@Variant(\0\0\0\x1a\xc0\x44\xea\xaa\xaa\xaa\xaa\xa0@{w\xff\xff\xff\xff\xff)
Midi-Bridge_1%3AInput=@Variant(\0\0\0\x1a@zp\0\0\0\0\0@~P\0\0\0\0\0)
Midi-Bridge_1%3AOutput=@Variant(\0\0\0\x1a\xc0\x44\xea\xaa\xaa\xaa\xaa\xa0@{w\xff\xff\xff\xff\xff)
Muffin=@Variant(\0\0\0\x1a\xc0@\x80\0\0\0\0\0\xc0k\xea\xaa\xaa\xaa\xaa\xab)
Muffin-1=@Variant(\0\0\0\x1a\xc0\x44\0\0\0\0\0\0@J\0\0\0\0\0\0)
Muffin-10=@Variant(\0\0\0\x1a@\x80\x80\0\0\0\0\0@t\0\0\0\0\0\0)
Muffin-2=@Variant(\0\0\0\x1a@o\x80\0\0\0\0\0\xc0L\0\0\0\0\0\0)
Muffin-3=@Variant(\0\0\0\x1a@n\x80\0\0\0\0\0\xc0\x62\x80\0\0\0\0\0)
Muffin-4=@Variant(\0\0\0\x1a@a\0\0\0\0\0\0\xc0`\0\0\0\0\0\0)
Muffin-5=@Variant(\0\0\0\x1a@\x83\xc0\0\0\0\0\0@d\x80\0\0\0\0\0)
Muffin-6=@Variant(\0\0\0\x1a@\x80@\0\0\0\0\0@g\0\0\0\0\0\0)
Muffin-7=@Variant(\0\0\0\x1a@y\x80\0\0\0\0\0@f\x80\0\0\0\0\0)
Muffin-8=@Variant(\0\0\0\x1a@x@\0\0\0\0\0@o\0\0\0\0\0\0)
Muffin-9=@Variant(\0\0\0\x1a@x\xc0\0\0\0\0\0@r\x80\0\0\0\0\0)
Native%20Access.exe=@Variant(\0\0\0\x1a@v\x80\0\0\0\0\0\xc0\x63\x80\0\0\0\0\0)
Native%20Access.exe-1=@Variant(\0\0\0\x1a@a\0\0\0\0\0\0\xc0\x61\x80\0\0\0\0\0)
OpenGOAL=@Variant(\0\0\0\x1a@a\x80\0\0\0\0\0\xc0@\0\0\0\0\0\0)
PCSX2=@Variant(\0\0\0\x1a@a\x80\0\0\0\0\0\xc0\x46\0\0\0\0\0\0)
REAPER=@Variant(\0\0\0\x1a@P\xc0\0\0\0\0\0@O\0\0\0\0\0\0)
REAPER_1=@Variant(\0\0\0\x1a@P\x80\0\0\0\0\0\xc0\x46\x80\0\0\0\0\0)
REAPER_2=@Variant(\0\0\0\x1a@^\0\0\0\0\0\0\xc0\x14\0\0\0\0\0\0)
RPCS3=@Variant(\0\0\0\x1a@w\0\0\0\0\0\0\xc0L\0\0\0\0\0\0)
RSI%20Launcher=@Variant(\0\0\0\x1a@w\0\0\0\0\0\0\xc0l\x80\0\0\0\0\0)
RSI%20Launcher.exe=@Variant(\0\0\0\x1a\xc0Z\0\0\0\0\0\0\xc0g\0\0\0\0\0\0)
Splice%20INSTRUMENT.exe=@Variant(\0\0\0\x1a@a\x80\0\0\0\0\0\xc0\x46\0\0\0\0\0\0)
Star%20Citizen=@Variant(\0\0\0\x1a\xc0\\\0\0\0\0\0\0\xc0m\x80\0\0\0\0\0)
StarCitizen.exe=@Variant(\0\0\0\x1a\xc0X\0\0\0\0\0\0\xc0s\0\0\0\0\0\0)
TH3=@Variant(\0\0\0\x1a@a\x80\0\0\0\0\0\xc0\x46\0\0\0\0\0\0)
TH3-64.exe=@Variant(\0\0\0\x1a@`\x80\0\0\0\0\0\xc0\x46\0\0\0\0\0\0)
TH3_1=@Variant(\0\0\0\x1a@o\x80\0\0\0\0\0\xc0L\0\0\0\0\0\0)
Telegram%20Desktop=@Variant(\0\0\0\x1a@u\xc0\0\0\0\0\0\xc0p\0\0\0\0\0\0)
Thunderbird=@Variant(\0\0\0\x1a@\x80`\0\0\0\0\0@o\x80\0\0\0\0\0)
Thunderbird-1=@Variant(\0\0\0\x1a@\x80`\0\0\0\0\0@o\x80\0\0\0\0\0)
Thunderbird-2=@Variant(\0\0\0\x1a@\x84\0\0\0\0\0\0@n\0\0\0\0\0\0)
USB%20Audio%20Front%20Headphones%20%5BMonitor%5D=@Variant(\0\0\0\x1a\xc0zmUUUUT\xc0\x65\x85UUUUU)
USB%20Audio%20Front%20Headphones%3AInput=@Variant(\0\0\0\x1a@\x87-UUUUV\xc0m\xb0\0\0\0\0\x1)
USB%20Audio%20Line%20Input%3AOutput=@Variant(\0\0\0\x1a\xc0x\x80\0\0\0\0\0@s\x18\xf5\xc2\x8f\\')
USB%20Audio%20Microphone%3AOutput=@Variant(\0\0\0\x1a\xc0{}UUUUT\xc0o\x7f\xff\xff\xff\xff\xfe)
USB%20Audio%20S\PDIF%20Output%20%5BMonitor%5D=@Variant(\0\0\0\x1a\xc0{\xa0\0\0\0\0\0@|\0\0\0\0\0\0)
USB%20Audio%20S\PDIF%20Output%3AInput=@Variant(\0\0\0\x1a@\x90v\xaa\xaa\xaa\xaa\xab\xc0V\x9c(\xf5\xc2\x8f\x62)
USB%20Audio%20Speakers%20%5BMonitor%5D=@Variant(\0\0\0\x1a\xc0u\xaa\xaa\xaa\xaa\xaa\xaa@j\x15UUUUT)
USB%20Audio%20Speakers%3AInput=@Variant(\0\0\0\x1a@\x90\x92\0\0\0\0\0\xbf\xf4_\x92\xc5\xf9.\0)
WEBRTC%20VoiceEngine=@Variant(\0\0\0\x1a@\x90\xd8\0\0\0\0\0\xc0M\x15UUUUX)
WEBRTC%20VoiceEngine_1=@Variant(\0\0\0\x1a@}\"\xaa\xaa\xaa\xaa\xb0\xc0wx\0\0\0\0\0)
cinnamon=@Variant(\0\0\0\x1a@nz\xaa\xaa\xaa\xaa\xa9@$UUUUUp)
cinnamon-1=@Variant(\0\0\0\x1a@` \0\0\0\0\0\xc0M\0\0\0\0\0\0)
cinnamon-1_1=@Variant(\0\0\0\x1a@9\0\0\0\0\0\0\xc0Y@\0\0\0\0\0)
cinnamon-2=@Variant(\0\0\0\x1a@a@\0\0\0\0\0\xc0\x62\x80\0\0\0\0\0)
cinnamon-2_1=@Variant(\0\0\0\x1a@d\x80\0\0\0\0\0\xc0U\0\0\0\0\0\0)
cinnamon-3=@Variant(\0\0\0\x1a@D\x80\0\0\0\0\0\xc0\x36\0\0\0\0\0\0)
cinnamon-4=@Variant(\0\0\0\x1a@8\0\0\0\0\0\0@J\x80\0\0\0\0\0)
cinnamon-settings.py=@Variant(\0\0\0\x1a\xc0g\0\0\0\0\0\0@V\0\0\0\0\0\0)
cinnamon-settings.py-1=@Variant(\0\0\0\x1a@U\0\0\0\0\0\0@N\0\0\0\0\0\0)
cinnamon-settings.py-2=@Variant(\0\0\0\x1a@k\x80\0\0\0\0\0\xc0U\0\0\0\0\0\0)
discord_capture=@Variant(\0\0\0\x1a@q\xc0\0\0\0\0\0\xc0\x34\0\0\0\0\0\0)
discord_capture-1=@Variant(\0\0\0\x1a@}@\0\0\0\0\0\xc0\x61\0\0\0\0\0\0)
discord_capture-1_1=@Variant(\0\0\0\x1a@w\xaa\xaa\xaa\xaa\xaa\xab\xc0j\x8a\xaa\xaa\xaa\xaa\xab)
discord_capture-2="@Variant(\0\0\0\x1a\xc0=\xaa\xaa\xaa\xaa\xaa\xac\xc0p5UUUUV)"
discord_capture-2_1=@Variant(\0\0\0\x1a@B\0\0\0\0\0\0\xc0\x66\0\0\0\0\0\0)
discord_capture_1=@Variant(\0\0\0\x1a@a\x80\0\0\0\0\0\xc0\x46\0\0\0\0\0\0)
gk=@Variant(\0\0\0\x1a@w\0\0\0\0\0\0\xc0\x46\0\0\0\0\0\0)
io.github.celluloid_player.Celluloid=@Variant(\0\0\0\x1a\xc0l@\0\0\0\0\0@n\xa0\0\0\0\0\0)
libcanberra=@Variant(\0\0\0\x1a@\x80`\0\0\0\0\0@o\x80\0\0\0\0\0)
libcanberra-1=@Variant(\0\0\0\x1a@^\0\0\0\0\0\0\xc0i\x80\0\0\0\0\0)
libcanberra_1=@Variant(\0\0\0\x1a\xc0\x46\0\0\0\0\0\0\xc0J\0\0\0\0\0\0)
milkytracker=@Variant(\0\0\0\x1a@\x80`\0\0\0\0\0@o\x80\0\0\0\0\0)
my-combined-sink%20Audio\Sink%20sink=@Variant(\0\0\0\x1a@V\0\0\0\0\0\0\xc0\x61`\0\0\0\0\0)
my-virtualmic%20Audio\Source\Virtual%20sink=@Variant(\0\0\0\x1a\xc0l@\0\0\0\0\0\xc0\x63\0\0\0\0\0\0)
paplay=@Variant(\0\0\0\x1a@\x80`\0\0\0\0\0@o\x80\0\0\0\0\0)
speech-dispatcher-dummy=@Variant(\0\0\0\x1a\xc0m\xa0\0\0\0\0\0@n\xe0\0\0\0\0\0)
winecfg.exe=@Variant(\0\0\0\x1a@a\x80\0\0\0\0\0\xc0\x46\0\0\0\0\0\0)

[GraphView]
ConnectThroughNodes=false
Menubar=true
RepelOverlappingNodes=false
SortOrder=0
SortType=0
Statusbar=true
TextBesideIcons=true
Toolbar=true
ZoomRange=false

[Patchbay]
Activated=true
AutoDisconnect=true
AutoPin=true
Dir=@@DOTFILES:HOME@@/Documents
Exclusive=false
Path=@@DOTFILES:HOME@@/Documents/pipewirepatch.qpwgraph
RecentFiles=@@DOTFILES:HOME@@/Documents/pipewirepatch.qpwgraph
Toolbar=true

[Session]
StartMinimized=true

[SystemTray]
Enabled=true
